<div>
#we can delete this now right?

  <h1 class="font-bold text-4xl">Main#createAccount</h1>
  <p>Find me in app/views/main/createAccount.html.erb</p>
    <%= link_to("already have an account?", "/main/login")%> 
</div>
