<div>
  <h1 class="font-bold text-3xl" style="background-color:rgba(147, 174, 144, 0.5);text-align: center;">⊱⊰ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Help &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ⊱⊰</h1>
  </br>
  <h2 style=" border:2px solid #93AE90; font-size:1.5em"><i> Frequently Asked Questions:           </i></h2>
 <!-- <p>Find me in app/views/main/help.html.erb</p> -->
 </br>
 <h2> Need a tutorial? <%= link_to("click here", "main/tutorials") %> </h2>
 <div class="row">
    <div class="column left" style="background-color:rgba(147, 174, 144, 0.5); border:4px double #B4A9DA;">
      </br>
      <details>
        <summary> Where can I ride my scooter?</summary>
          <p> You can ride your scooter anywhere across the Nipmuc Notch area! Just be sure to return it to one of our 14 stations!</p>
      </details>
      </br>
      <details>
          <summary> I am visiting for a couple days. How do I use ValleyScoot?</summary>
          <div> You can sign up for an account on our website and then view our stations map to familiarize yourself with the area!</div>
      </details>
      </br>
      <details>
          <summary> Do I have to sign up to use a scooter? </summary>
          <div> Currently yes, as our system is interconnected through our website. Our team is actively working on implementing a card or cash system for stations with in-person rental kiosks as well!</div>
      </details>
      </br>
      <details>
      <summary> How long can I rent a scooter? </summary>
        <p> You can rent a scooter for as long as you want, but be aware that while in use it accumulates the cost of one credit per hour. </p>
      </details>
      </br>
      <details>
      <summary> What do I do if I can't rent a scooter? </summary>
        <p> If you cannot rent a scooter even when logged in, please feel free to contact us through email or phone call at +1-800-SCOOT or Info@ValleyScoot.com!  </p>
      </details>
      </br>
      <details>
      <summary> Where can I find the scooters that are available to rent, I don't see them? </summary>
        <p> You can go to our stations page where you can see the scooter availability for each station!  </p>
      </details>
      </br>
      <details>
      <summary> What can I do if I don't like the scooter I rented? </summary>
        <p> You can return the scooter to any station and rent a different one! If none of our scooters are to your statisfaction feel free to contact us! </p>
      </details>
    </br></br></br></br></br>
    </div>
    <div class="column middle" style="background-color:rgba(147, 174, 144, 0.7); border:4px double #B4A9DA;">
      </br>
      <details>
          <summary>What If I rented the wrong scooter?</summary>
          <div>You can always press return and rent another scooter! You are not charged until you've scooted for at least a minute</div>
      </br>
      </details>
      </br>
      <details>
          <summary>How do I start a scooter rental? How do I end a scooter rental?</summary>
          <div>You can go on the website and choose a station to rent from! Once there you choose a scooter and you should be able to use it instantly! To return, simply go to our website and return the scooter to a station with an available dock!</div>
      </details>
      </br>
      <details>
          <summary>How many scooters can I rent at a time?</summary>
          <div>You can rent 1 scooters at a time on your account! If you would like to rent another one for a friend or family member, please have them make their own account.</div>
      </details>
      </br>
      <details>
          <summary>What forms of payment can I use to rent a scooter?</summary>
          <div>We don’t believe in taking payment. We want you to scoot your heart out. Just give yourself as many credits as you want and Scoot Scoot !</div>
      </details>
      </br>
      <details>
          <summary>What do I do if my payment is denied but I need a scooter NOW?</summary>
          <div> Feel free to give yourself credits if your run out or are going into debt! You can always edit your credits if you go to edit your profile!</div>
      </details>
      </br>
      <details>
          <summary>What if I don't want to pay because I'm not happy with my experince?</summary>
          <div> Since we don't believe in  taking payment, you won't be actually paying anything! Feel free to send any of your complaints to our email or call and heckle us!</div>
      </details>
      </br>
      <details>
          <summary>What is my limit for credits?</summary>
          <div> There is none! You can always add or remove credits as you feel! </div>
      </details>
      </br></br></br></br>
    </div>
    <div class="column right" style="background-color:rgba(147, 174, 144, 0.5); border:4px double #B4A9DA;">
      </br>
      <details>
          <summary> What is the cost per minute of renting a scooter? Can I use it for less than an minute?</summary>
          <div> 1 credit a minute per scooter! And yes, your time and cost increases with the time your rent your scooter!</div>
      </details>
      </br>
      <details>
          <summary> How much does it cost to rent a scooter? </summary>
          <div> 1 credit. </div>
      </details>
      </br>
      <details>
         <summary> Can I get a refund for my ride or purchase? </summary>
         <p> Yes, the process for that would be to email us with your account information, scooter number, as well as picture or videos of damages or of the ride not turning on and other such issues. </p>
      </details>
      </br>
      <details>
          <summary> Do I pay if my scooter was stolen? </summary>
          <p> No, you would email us for a refund (Info@ValleyScoot.com), and as we have a tracking system it would be a process of recovering on us! If you stole it we’d be very sad so please give it back :( </p>
      </details>
      </br>
      <details>
          <summary> What if my account information I entered is wrong? </summary>
          <p> You can always edit your account information, if your click on my profile! </p>
      </details>
      </br>
      <details>
          <summary> How do I know this website is secure? </summary>
          <p> Currenlty, only we have access to your personal information and your password is encrypted, and as we do not ask for any monetary information, the risk of any informations that isn't already out there being leaked is low! </p>
      </details>
      </br>
      <details>
          <summary> I can't sign up for an account? It says I'm not allowed. Why is that? </summary>
          <p> Hello, if your username matches one of our banned people, it will not be possible for you to join our service. We apologize, but not really. You are banned for a reason, please feel free to email us or also find another service to use! Perhaps Graken. </p>
      </details>
      </br></br></br></br>
    </div>
  </div>
 <br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo" >
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
  </div>
    <br/>
</div>