<div>
  <h1 class="font-bold text-3xl" style="background-color:rgba(147, 174, 144, 0.5);">⊱⊰ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Help &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ⊱⊰</h1>
  <h2 id="buttons"> [Tutorial video will go here]</h2>
  </br></br>
  <h2 style=" border:2px solid #93AE90; font-size:1.5em"><i> Frequently Asked Questions:                          </i></h2>
 <!-- <p>Find me in app/views/main/help.html.erb</p> -->
 </br>
  <details>
    <summary>Where can I ride my scooter?</summary>
      <p> You can ride a scooter at any one of our 181 stations across the Nipmuc Notch area!</p>
  </details>
  </br>
  <details>
      <summary>I am visiting for a couple days. How do I use ValetScoot?</summary>
      <div>You can sign up on our website and got to our Rent a Scoot tab and rent a scooter for any period of time!</div>
  </details>
  </br>
  <details>
      <summary>Do I have to sign up to use a scooter?</summary>
      <div>Currently yes, as our system is interconnected through our website, but we are working on implementing a cardor cash system in-person as well!</div>
  </details>
  </br>
  <details>
      <summary>How long can I rent a scooter?</summary>
      <div>You can rent a scooter for as long as you want, but be aware that while in use it accumulates the cost of one credit per hour. </div>
  </details>
  </br>
  <details>
      <summary>How do I start a scooter? How do I end a scooter?</summary>
      <div>You can go on the website and choose your station to rent from! Once there you choose a scooter and should be able to use it instantly!</div>
  </details>
  </br>
  <details>
      <summary>How many scooters can I rent at a time?</summary>
      <div>You can rent 1 scooters at a time on your account! If you would like to rent another one for a friend or family member, please have them make their own account.</div>
  </details>
  </br>
  <details>
      <summary>What the cost per hour of renting a scooter?</summary>
      <div>1 credit an hour per scooter!</div>
  </details>
  </br>
  <details>
      <summary>How much does it cost to rent a scooter?</summary>
      <div>1 credit.</div>
  </details>
  </br>
  <details>
      <summary>Can I get a refund for my ride or purchase?</summary>
      <div>Yes, the process for that would be to email us with your account information, scooter number, as well as picture or videos of damages or of the ride not turning on and other such issues.</div>
  </details>
  </br>
  <details>
      <summary>Do I pay if my scooter was stolen?</summary>
      <div>No, you would email us for a refund, and as we have a tracking system it would be a process of recovering on us! If you stole it we’d be very sad so please give it back :( </div>
  </details>
  </br>
  <details>
      <summary>What If I rented the wrong scooter?</summary>
      <div>You can always press return and get another scooter!</div>
  </details>
  </br>
  <details>
      <summary>What forms of payment can I use to rent a scooter?</summary>
      <div>We don’t believe in taking payment. We want you to scoot your heart out. Just give yourself as many credits as you want and scoot scoot !</div>
  </details>
 <br/><br/><br/><br/><br/><br/><br/>
  <div class="row">
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo" >
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
  </div>
    <br/>
</div>