<div>

  <h1 class="font-bold text-4xl" style="background-color:rgba(147, 174, 144, 0.5);">Help</h1>
  <h2 id="buttons"> [Tutorial video will go here]</h2>
  <h2> [FAQs will go here] </h2>
 <!-- <p>Find me in app/views/main/help.html.erb</p> -->

 <br/><br/><br/><br/><br/><br/><br/>
</div>