<html>
  <title> About Us </title>
    <style>
      img {
      max-width: 100%;
      max-height:100%;
      float: right;
      }
      .text {
      font-size: 20px;
      }
    </style>

    <div class="img"style="margin-top: 100px">
      <%= image_tag("Group 310.png") %>
      <button style="margin-top: 200px; float:right"> <a href="locations"> Start Now </a> </button>
      <%= image_tag("Bitmap.png") %> 
    </div>

     <h1> About Us</h1>
      <div class="img">
        <%= image_tag("station.png") %>
     <p class="text">Valet Bike is designed to make cycling in your city convenient, affordable and eco-friendly. With our app, you can easily locate and 
      rent bikes from any of our many bike stations scattered throughout the city. We believe that cycling is not just a means of transportation,
      but also a great way to stay healthy while reducing your carbon footprint. That's why we have made our application affordable and accessible
      to everyone. With our flexible pricing options, you can rent a bike for as long or as short as you need, making it a cost-effective alternative
      to other modes of transportation </p>
      </div>

</html>


