<div>
  <h1 class="font-bold text-4xl">Welcome to ValetScoot!</h1>

  <h2> Would you like a tutorial before you get started? </h2>

  <h2> <%= link_to("YES- show me around", "main/tutorial")%>  <hz> <br/>

  <h2> <%= link_to("NO - I'm ready to scoot!", "/sessions/new")%> <h2> <br/> 

  <h2> <%= link_to("help", "main/help")%> <h2>

</div>
