<div>
  <h1 class="font-bold text-4xl">Welcome to ValetScoot!</h1>

  <h2> Would you like a tutorial before you get started? </h2>

  <h2> <%= link_to("YES- show me around", "main/tutorial")%>  <h2> <br/>

  <%if !logged_in?%>
    <h2> <%= link_to("NO - I'm ready to scoot!", "/sessions/new")%> </h2> <br/> 
  <%else%>
    <h2><%= link_to("NO - I'm ready to scoot!", "/stations/map")%></h2> <br/>
  <%end%>
  <h2> <%= link_to("help", "main/help")%> </h2>

</div>
