<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to ValetBike!  
    </div>
    <div class="section-subtitle">
       Start your economic trip here with our bikes :D 
    </div>
    <a href= "/stations.index">
      View Stations
    </a>
    <a href= "/bikes.index">
      View Bikes
    </a>

	</div>
</div>

