<div>
  <h1 class="font-bold text-4xl" style="background-color:rgba(147, 174, 144, 0.5);text-align: center;">❀ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Tutorial Videos &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;❀</h1>
 <!--<p>Find me in app/views/main/tutorial.html.erb</p> -->

  <div class="row">
    <div class="column left" style="background-color:rgba(147, 174, 144, 0.5);">

      <h2> How to create an account </h2>
       <iframe width="280" height="157.5" src="https://www.youtube.com/embed/t3yunWKqS14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>



    </div>
    <div class="column middle" style="background-color:rgba(147, 174, 144, 0.8);">
      <h2>  How to log in, log out, and edit profile </h2>

      <iframe width="280" height="157.5" src="https://www.youtube.com/embed/Ew4qukJyhvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      


    </div>
    <div class="column right" style="background-color:rgba(147, 174, 144, 0.5);">
      <h2>How to rent a bike</h2>
      <iframe width="280" height="157.5" src="https://www.youtube.com/embed/p2wrt2caeAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

</div>
