<div>
  <h1 class="font-bold text-4xl" style="background-color:rgba(147, 174, 144, 0.5);text-align: center;">❀ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Tutorial Videos &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;❀</h1>
 <!--<p>Find me in app/views/main/tutorial.html.erb</p> -->
  <h2> tutorial on this page </h2>

  <div class="row">
    <div class="column left" style="background-color:rgba(147, 174, 144, 0.5);">
      <h2>  How to create account, login, and edit your profile?/h2>
      <p>Some text..</p>
    </div>
    <div class="column middle" style="background-color:rgba(147, 174, 144, 0.8);">
      <h2>How to rent a bike? How to return a bike?</h2>
      <p>Some text..</p>
    </div>
    <div class="column right" style="background-color:rgba(147, 174, 144, 0.5);">
      <h2>How to contact us? and the different errors in signing up or loging in and what they mean?</h2>
      <p>Some text..</p>
    </div>
  </div>

</div>
