<html lang = "en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .About {
      background-color: #2b7efb;
      color: #FFFFFF;
      height: 100px;
      width: 90%;
      text-align: center;
    }
    .Sign_Up {
      background-color: #E6F4F1;
      line-height: 1.6;
      width: 30%;
      height: 250px;
      text-align: center;
    }
    body {
        background: black;
    }


  </style>
</head>

<br></br>


<div class = "About">
  <h1>About Page </h1>
</div>



<br/>
<%=button_to "Back to Welcome Page", '/welcome', method: :get%>
<br/>

<p>Welcome to Team Ghost's ValetBike Project. Our objective is to create a
  better interface and web program than our competition, ValleyBike.
  That website is terrible and it should go and die.


</p>
