<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .FAQ {
      background-color: #2b7efb;
      color: #FFFFFF;
      height: 100px;
      width: 90%;
      text-align: center;
    }
    .Questions {
      background-color: #E6F4F1;
      line-height: 1.6;
      height: 75%;
      width: 75%;
      background-color: #E6F4F1;
      padding: 50px;
    }
    .input-group {
      width: 20%;
    }
    p {
      height: 75%;
      width: 75%;
      background-color: #E6F4F1;
    }


  </style>
</head>

<br></br>


<div class = "FAQ">
  <h1>Frequently Asked Questions </h1>
</div>
<br></br>


<div class = "Questions">
  <h3>I am just visiting for short time to Northampton. How do I use the system? </h3>
  <p>Visit out our How It Works Page bitch.</p>

  <h3> Can I use the system immediatley after subscribing online?</h3>
  <p>Of course!</p>

  <h3>When does my membership start?</h3>
  <p>See above answer. </p>

  <h3>What forms of payment can I use to rent a bike?</h3>
  <p>Credit card.</p>

  <h3>Where can I ride my bike?</h3>
  <p>Parts of Northampton. But it's mainly around Smith College.</p>


  <h3>How many bikes can I rent at one time with each membership?</h3>
  <p>One. O N E.</p>

  <h3>Do I have to return it to the same station I rented it from?</h3>
  <p>No. But you better return the bike to a station. </p>

  <h3>Can I unlock more than one bike?</h3>
  <p>No.</p>

  <h3>What do I do if there are no bikes available at the station?</h3>
  <p>Cry. But also please contact us in the About page with our phone number. We will try to help to the best of our abilities.
</p>

  <h3>My bike was stolen. What happens now?</h3>
  <p>Call the Northampton police.</p>

  <h3>My membership suddenly disappeared before the date it expired. What should I do?</h3>
  <p>Cancel your credit card immediately.</p>

</div>
<br></br>






<br/>
<%=button_to "Back to Welcome Page", '/welcome', method: :get%>
<br/>
