<html lang = "en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .About {
      background-color: #2b7efb;
      color: #FFFFFF;
      height: 100px;
      width: 90%;
      text-align: center;
    }
    .Sign_Up {
      background-color: #E6F4F1;
      line-height: 1.6;
      width: 30%;
      height: 250px;
      text-align: center;
    }

    body {
        background: black;
    }
    p {
      height: 75%;
      width: 75%;
      background-color: #E6F4F1;
      padding: 30px;
      font-size: 20px;
      line-height: 1.0;

    }
    img {
      height: 50%;
      width: 50%;
    }


  </style>
</head>

<br></br>

<img src="how-it-works.png" alt = "Background">

<br/>
<%=button_to "Back to Welcome Page", '/welcome', method: :get%>
<br/>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Sign Up or Login</h3>
      <p>Become a member and create your account to start.</p>
    </div>
    <div class="col-sm-3">
      <h3>Unlock your Bike</h3>
      <p>Enter the bike ID code to unlock the bike at the proper station. </p>
    </div>
    <div class="col-sm-3">
      <h3>Enjoy your Ride!</h3>
      <p>Ride your bike around as long as you want.</p>
    </div>
    <div class="col-sm-3">
      <h3>Return your Bike!</h3>
      <p>Return your bike once you're finished with your ride and lock it at a nearby station.</p>
    </div>
  </div>
</div>

<br></br>
