<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .checkout {
      background-color: #2b7efb;
      color: #FFFFFF;
      height: 100px;
      width: 90%;
      text-align: center;
    }
  </style>
</head>

<br></br>



<div class = "checkout">
  <h1>Thank You for Checking In Your Bike!</h1>
</div>

<br></br>


<img src="animated_bike.gif" alt = "Background" class = "center" width = "350" height = auto>

<br/>
<br/>
<%=button_to "Back to Welcome Page", '/welcome', method: :get%>
<br/>
