<h1>Welcome</h1>
<<<<<<< HEAD
<br/>
<img src="/assets/download.jpg" alt = "Background">

<h6>Find me in app/views/sessions/welcome.html.erb</h6>


<%=button_to "Login", '/login', method: :get%>

<br/>

=======
<%= button_to "Login", '/login', method: :get%>
>>>>>>> temp-branch
<%= button_to "Sign Up", '/users/new', method: :get%>
