<h1>Welcome</h1>

<br/>
<img src="/assets/download.jpg" alt = "Background">

<h6>Find me in app/views/sessions/welcome.html.erb</h6>

<br/>

<% if logged_in? %>
    <meta http-equiv="Refresh" content="0; url='http://localhost:9292/authorized'" />
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
