<h2>Forgot your password?</h2>

<%= form_with url: password_reset_path do |form| %>

    <div class="mb-3“>
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "Enter your email" %>
    </div>

    <div class="form-group">
        <%= form.submit "Reset Password", class: "btn btn-primary" %>
    </div>

<% end %>