<td style="">
  <% if bike %>
  <%= bike.dock_id %> (<%= bike.identifier %>) <br>
  <% if user_signed_in? %>
  <%= link_to "Rent", {action: 'new', controller: 'rentals', id: bike.id} %>
  <% end %>
  <% else %>
  No bike
  <% end %>
</td>