<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= bike.identifier %>
  <% if user_signed_in? %>
  <%= link_to "Rent", {action: 'show', controller: 'rental', id: bike.id,} %>
  <% end %>
</div>