# i think i can get rid of this entire file

<%= form_with model: station do |reverse| %>
    <div>
        <%= reverse.label :title %>
    </div>

    <div>
        <%= reverse.submit %>
    </div>
<% end %>