<style>
  .left {
    float: left;
    padding: 10px;
  }

  .right {
    float: right;
    padding: 10px;
  }
</style>

<h1>Our Stations</h1>
  <div class="flexbox vertical">
    <% if @stations.present? %>
      <%= render(partial: "stations/row", collection: @stations, as: :station) %>
    <% else %>
    <div class="empty">
      No stations found-- check back later!
    </div>
    <% end %>
  </div>
<a href="bikes">View Bikes</a>
