<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Scoot scoot!! With ValetScoot, you can rent and return scooters to any of the following stations!
    </div>  
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
     <div class="section-title">
      Ready to scoot? <%=link_to("Click here to create an account", "/users/new")%>
    </div>  
	</div>
</div>
