
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to ValetBike!
    </div>
    <a href="/users"> Login </a> <br />

    <%= link_to("Sign Up", new_user_path, :class => 'action new') %>
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
    <html>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_pQ1lSqVb10TdOOV7d2sgb4sO4Txcosk&callback=initMap"></script>
      <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/d/u/0/embed?mid=16lQ4DI4Uiylt3l_UWg3lkw7OyUZhq012"></iframe>
    </html>
	</div>
</div>