<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
<<<<<<< HEAD
      Welcome to ValetBike , for all your bike needs!!!
=======
      Welcome to ValetBike!!
>>>>>>> 9a3528170da3942eca63c1d791205ae4f8d3cd82
    </div>  
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
      <%= button_to 'View Bikes', bike_path, method: 'get' %>
    </div>
	</div>
</div>
