<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to ValetBike, Asher :D!
    </div>  
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="page-section flexbox vertical stretch">
<details>
<summary>
    <div class="section-title">
      Click for bikes:  
    </div>  
  </summary>
  <div class="section-inner flexbox vertical stretch">

    <div class="flexbox vertical stretch">
      <% if @bikes.present? %>
        <%= render(partial: "stations/bikerow", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No bikes found.
      </div>
      <% end %>
    </div>
	</div>
</details>
</div>
