<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to Samis ValetBike!
    </div>  
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <ul>
          <% @stations.each do |station| %>
            <li>
                <%= station.name%>
            </li>
            <% end %>
        </ul>
        
      <% else %>
        <div class="empty">
          No stations found, yet. We are working on it.
        </div>
      <% end %>

    </div>

	</div>


</div>

