<h2>Find Valetbike Near You! </h2>
<br />
<iframe
    width="100%"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD-Ip9qI4K6HCbIrIhYQu_3xH7tsV0yDYQ
  &q=Smith+College,Northampton+MA">
</iframe>
<br />
<br />
<% if @stations.present? %>
  <%= render(partial: "stations/row", collection: @stations, as: :station) %>
<% else %>
<div class="empty">
  No stations found.
</div>
<% end %>
<br />
