<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Scoot scoot!! With ValetScoot, you can rent and return scooters to any of the following stations!
    </div>  
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
     <div class="section-title"  style="background-color:rgba(147, 174, 144, 0.5);" id="buttons">
      Ready to scoot? 
      <%if !logged_in?%>
        <%=link_to("Click here to create an account", "/users/new")=%>
      <%else%>
        <%=link_to("Click here to view the map!", "/stations/map")=%>
        <% end%>
    </div>  
    <br/><br/><br/><br/><br/>
	</div>
</div>
