<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<h2>Find Valetbike Near You! </h2>
<br />
<div id="map"></div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdq5qVkBOqdKzjnsaBs2hcbyJGrfOFwWc&callback=initMap&v=weekly"
  async
></script>
<br />
<br />
<% if @stations.present? %>
  <%= render(partial: "stations/row", collection: @stations, as: :station) %>
<% else %>
<div class="empty">
  No stations found.
</div>
<% end %>
<br />
