<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to ValetBike! I modified this.
    </div>  
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
    <div class="flexbox vertical stretch">
      <% if @bikes.present? %>
      bikes present evaluates true
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No bikes found yet.
      </div>
      <% end %>
    </div>
	</div>
</div>
