<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Hello, this is the Valetbike front page!
    </div>
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>

    <br>
    <p> Station Names </p>
      <ol>
        <%@stations.each do |station| %>
          <li>
            <%= station.name %>

          </li>
        <% end %>
     </ol>
	</div>
</div>
