<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">

    <div class="section-title flexbox horizontal center">
      <h2> Welcome to bikesia! </h2>
      <a class="toggle" href="<%= bikes_path %>">View Bike Fleet</a>
      <a class="toggle" href="<%= root_path %>">Home page</a> 
    </div>  

    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
       <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>

      <div class="rights-text">
      <br></br>
      2023 Version 01 CSC 223-01
      </div>  

    </div>
  </div>
</div>