<!DOCTYPE html>
<html>
<body>
<head>
   <meta name="viewport" content="width=device=-width, initial-scale=1.0">
   <title>MAP</title>
   <link rel="stylesheet" href="pages.css">
   <style>
      .menu { text-align: center; }
      .menu ul { display:inline-table; }
      .menu li { display:inline; }
    </style>
</head>
</body>
   <div>
   <h1 class="font-bold text-4xl" style="background-color:rgba(147, 174, 144, 0.5);text-align: center;">❀&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Map and Stations&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;❀</h1>
   <p align="center"><iframe src="https://www.google.com/maps/d/embed?mid=18krZCgeDe9tme4TRpVS3naP60SeHpno&ehbc=2E312F" width="640" height="480"></iframe></p>   <div>
   <br/>
   <div class="flexbox vertical stretch">
   <% if @stations.present? %>
     <%= render(partial: "stations/row", collection: @stations, as: :station) %>
   <% else %>
   <div class="empty">
    <ul class="menu"> <%=link_to("Select Station!", "/stations/index")%> </ul>
   </div>
   <% end %>
 </div>
   <br/><br/><br/><br/><br/>
  <div class="row">
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo" >
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
  </div>
    <br/>
</body>
</html>
