<!DOCTYPE html>
<html>
<body>
<head>
   <meta name="viewport" content="width=device=-width, initial-scale=1.0">
   <title>MAP</title>
   <link rel="stylesheet" href="pages.css">
</head>
</body>
   <div>
   <h1 style="border:2px solid #93AE90"> Embed Location Map</h1>
   <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1cZGFi3zHKDw9N5ECdefKjZAeM8YJXqQ&ehbc=2E312F" width="640" height="480"></iframe>   <div>

   <br/><br/><br/><br/><br/>
</body>
</html>
