<h2><%=@station.name%></h2>

<ul>
<% @station.docked_bikes.each do |bike| %>
<li><h3><%= bike.identifier%> </h3>
<h4 style="color:#0CCAA8;"><%=link_to('unlock bike', new_rental_path(bike.identifier))%></h4>
</li>
<%end%>
</ul>
