<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <h1>Status</h1>
    </div>  
    <div class="flexbox vertical stretch">
    </div>
	</div>
</div>

<%#= render(partial: "stations/row", collection: @stations, as: :station) %>

        <%# https://medium.com/swlh/using-rails-and-html-to-view-sort-and-search-tables-fbf8a0543558%>
        <table>
          <tr>
            <th><%="Station"%> </th>
            <th><%="Number of Bikes Docked"%> </th>
          </tr>
          <%# add stations data (from csv)%>
          </table>