<div class="countdown">
    Remaining time: <span id="clock"> </span><br>
</div>

<%= content_tag :div, class: "temp_information", data: {temp: renting[:endTime].strftime("%b %d, %Y %H:%M:%S")} do %> 
    <script type="module">
        <%= render(partial: 'renting/countdown', formats: [:js]) %>
    </script>
<% end %>