<!DOCTYPE html>
<html>
  <head>
    <title> Rent </title>
    <style>

    body{
        height: 100vh;
        width: 100vw;
      }
    .button{
        background-color: #8C1627;
        padding: 7px 20px;
        border-radius: 6px;
        color: white;
        margin: auto;
      }

    .box{
        height: 30%;
        width: 100%;
        background_color: black;
      }




    </style>
    </head>
  
    <body> 
  
  <div style="height: 200px;" >
  <div >
  
    <div style="font-size: 25px;">
      <h1> Renting Page <h1>
    </div>  
    <div class = "box" >
    <div class="flexbox vertical stretch">
    <%= render(partial: "/stations/station_row", object: @station, as: :station) %>
    <br>
    <br>

    <% if user_signed_in? %>

        <div class= "button"><%#= link_to 'Rent A bike', {controller: 'cards', action: 'index', station_id: @station[:id]}%>  
        <%= link_to 'Rent A bike', { action: 'create', station_id: @station[:id]}%>
        </div>


    <%else%>
        <p class="text" style="margin: 10px 350px"> Already a registered User? Login to rent a bike. Sign up otherwise <p>
    <%end%>
    </div>
	</div>
    </div>
</div>

</body>
</html>

