    <style>
        .text{
        font-size: 20px;
            }
    </style>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title" style="font-size: 25px;">
          <h1> Renting Page <h1>
    </div>  
    <div class="flexbox vertical stretch">
      <p class="text" style="margin: 10px 350px"> Already a registered User? Login to rent a bike. Sign up otherwise <p>
       <button style="height:50px; width:200px; margin: 40px 520px;"><a href="locations">Rent A bike</a></button>
    </div>
	</div>
</div>