<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
    Renting Page
    </div>  
    <div class="flexbox vertical stretch" style="text-align:center">
      <b>Already a registered User? Login to rent a bike. Sign up otherwise</b>
      <a href="new" class="button" style="text-align:center;background-color:#8C1627">Rent A bike</a>

    </div>
	</div>
</div>
