
<table summary="Renting details">
  <tr>
    <th>User</th>
    <td>Name here</td>
  </tr>
  <tr>
    <th>Start Time</th>
    <td><%= @renting[:startTime] %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @renting.status? ? 'End' : 'In-Progress' %></td>
  </tr>
  <tr>
    <th>Start Station</th>
    <td><%= @renting.current_station_name %></td>
  </tr>
  
</table>