<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
    Rental Details
    </div>   
   
    <%= render(partial: "countdown", object: @renting, as: :renting)%>
    <%= render(partial: "/stations/station_row", object: @startStation, as: :station) %>
    <%= render(partial: "rental_info", :locals => { :renting => @renting}) %><br>

    <button><%= link_to "Return Bike", stations_path(:renting_id => @renting[:id])%></button>
    </div>
	</div>
</div>

