<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
    Submit Rental Code
    </div>   
    <%= render(partial: "/stations/availableStations_row", object: @station, as: :station) %>

    <h2> You have successfully returned your bike <h2>
    <%= image_tag("Variant8.png") %>

	</div>
</div>
