<h2>Contact Us!</h2>
<br />
Email: <a href = "mailto: valetbike_service@gmail.com">valetbike_service@gmail.com</a>
<p>Phone: 4130000000</p>

<form>
<label for="feedback">Submit Feedback: </label>
<br />
<textarea id="feedback" name="feedback" rows="4" cols="50">
  Please submit your feedback here.
  </textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>

<br />
<button class="btn btn-secondary btn-sm" onclick="window.location.href='http://localhost:3000/';">
Back to HomePage
</button>
