<%= link_to("<< Back to List", {:controller => 'stations', :action => 'index'}) %>
<h1>Contact Us!</h1>
<p>Email: valetbike_service@gmail.com</p>
<p>Phone: 4130000000</p>
<body>
  <form>
    <lable>Message</lable>
    <input type="text" name="" value="">
    <button type="button" name="button">Submit</button>
  </form>
</body>
