<div>
  <h1 class="font-bold text-4xl">Log in</h1>
</div>
<form>
  <label for="phone">Phone Number:</label><br>
  <input type="text" id="phone" name="phone"><br>
  <label for="code">5-digit code:</label><br>
  <input type="text" id="code" name="code"><br>
  <button type="button">Send code</button>
  <br><br>
  <input type="submit" value="Login">
</form>

<p> Don't have an account? <%= link_to "sign up here", users_new_path %></p>