<%#this would be to view SPECIFIC PROFILE INFORMATION ie settings%>
<h1>[User Name's] Profile</h1>
<p> Name </p>
<p> Registration Date </p>
<p> Mobile Number </p>
<p> Email </p>
<button type="button">Edit Profile *BROKEN* </button>
<button type="button"><%= link_to "Back", users_index_path %></button>