<%#this would be to view SPECIFIC PROFILE INFORMATION ie settings%>
<h1> Hi <%=current_user.name %>  Profile</h1>
<p> Registration Date: <%=current_user.timestamps %> </p>
<p> Mobile Number </p>
<p> Email </p>
<button type="button">Edit Profile *BROKEN* </button>
<button type="button"><%= link_to "Back", users_index_path %></button>