  <div class="signupFrm">
    <div class="wrapper">
    <form action="" class="form">
      <h1 class="title">Make Payment</h1>

      <img src="/images/card.jpg" width=200px >




      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Card Number</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">First Name</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Last Name</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">CVV</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">MM/YY</label>
      </div>



      <!-- <a href="redirect" class="submitBtn" type="submit">Submit</a> -->

    </form>
    <%= button_to 'Submit', 'redirect', method: :get %>
    </div>
  </div>
