<h1 style="text-align:center">ValetBike Membership Plans</h1>
<br style = “line-height:100px;”>
<h2 style="text-align:center">Change or cancel anytime.</h2>
<br style = “line-height:100px;”>
<br style = “line-height:100px;”> 

<div class="columns">
  <ul class="price">
    <li class="header">Pay Per Ride</li>
    <li class="grey">$ 9.99 / month</li>
    <li>35 minutes</li>
    <li>Up to 3 bikes at once</li>
    <li>No distance limit</li>
    <li>Best for less frequent use</li>
    <li><%= button_to 'Sign Up', 'payment1', method: :get %></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Pro</li>
    <li class="grey">$ 15.99 / month</li>
    <li>Unlimited rides</li>
    <li>1 hour per ride</li>
    <li>Up to 3 bikes at once</li>
    <li>Best for moderate use</li>
    <li><%= button_to 'Sign Up', 'payment2', method: :get %></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Premium</li>
    <li class="grey">$ 69.99 / year</li>
    <li>Unlimited rides</li>
    <li>2 hours per ride</li>
    <li>Up to 4 bike rentals at once</li>
    <li>Best for frequent use</li>
    <li><%= button_to 'Sign Up', 'payment3', method: :get %></li>
  </ul>
</div>
