<% content_for :title, "About | ValetBike" %>
<p> ValetBike is a bike-sharing program that serves the greater Nipmuc Notch area. Our electric-assisted bikes are an affordable, planet-friendly way to commute, run errands, or just get some exercise and explore our beautiful valley! </p>
