<% content_for :title, "How It Works | ValetBike" %>
<h2> <u> How to use our bikes </u> </h2>
<ol>
    <li> Join the bike clan! </li>
    Join the many people that use our bike service to get around! Get the membership through a kiosk or our site!
    <li> Unlock the bike! Take 'er for a spin! </li>
    <li> Ride to your heart's content (or until your time is up) </li>
    For your safety, we recommend a helmet (helmet not included with the bike, please provide that on your own).
    <li> Return the bike to a dock! </li>
    <li> Keep on riding for the betterment of the Earth! </li>
    <small> Or we will find you. <small> And we will not kill you, just shame you on the internet </small> </small>
</ol>