<style>
  .welcome{
      padding: 30px;
  }
  .home_image{
    min-height: 20vh;
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
  }
  .content{
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 35%;
    background-color: white;
    color: black;
    text-transform: uppercase;
  }
  .resize{
    /*Resizes the bike sharing image*/
    width: 400px;
    height: auto;
  }
  /*Format image and text side by side*/
  .flex-container{
    display: flex;
    padding: 20px;
  }
  .flex-child{
    flex: 3;
  }
  .flex-child:first-child{
    margin-right: 50px;
  }


</style>

<div class="welcome">
    <img src="logo_image.jpg" alt="Logo">
</div>

<div class="home_image">
  <div class="content">
    <h1>Explore Nipmuc Notch</h1>
    <br>
    <p>Bike sharing service for Nipmuc Notch</p>
    <% if !logged_in? %>
        <br>
        <%= link_to '<button type="button">Get started</button>'.html_safe, login_path %>
      <% end %>
  </div>
</div>


<br>
<div class="flex-container">
  <div class="flex-child image">
    <figure>
      <%= image_tag('ride_2.png', :alt => "rss feed") %>
    </figure>
  </div>

  <div class="flex-child description">
    <div style="padding-top: 30%">
      <h1>View recommended rides <%=link_to"here",rides_url%> !</h1>
    </div>
  </div>
</div>
