<style>
  .home_image{
    min-height: 20vh;
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
  }
  .content{
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    text-transform: uppercase;
  }
  /*Format image and text side by side*/
  .flex-container{
    display: flex;
    padding: 20px;
  }
  .flex-child{
    flex: 3;
  }
  .flex-child:first-child{
    margin-right: 50px;
  }

  #logo {
    margin-top: 10px, 0px;
    height:  24vh;
  }
  #rideImage {
    height:  30vh;
  }


</style>

<div class="welcome">
    <img src="logo_image.jpg" alt="Logo" id="logo">
</div>

<div class="home_image">
  <div class="content">
    <p>Bike sharing service for Nipmuc Notch</p>
    <% if !logged_in? %>
      <br>
      <%= link_to '<button type="button">Get started</button>'.html_safe, login_path %>
    <% else %>
      <br>
      <%= link_to '<button type="button">Rent</button>'.html_safe, rent_path %>
    <% end %>

  </div>
</div>

  <div class="flex-child image">
      <%= image_tag('ride_2.png', :alt => "rss feed", :id => "rideImage") %>
  </div>

  <div class="flex-child description">
      <br>
      <p>Explore our recommended rides <%=link_to"here",rides_url%>!</p>
      <br>
  </div>
