<div>
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title">
        Welcome to ValetBike, your source for cycles in Nipmuc Notch!
      </div>  
    </div>  
  </div>  
  <nav role="navigation" aria-label="main menu">
    <ul class="navbar">
      <li><a href="/">Home linked</a></li>
      <li><a href="/stations">Stations linked</a></li>
      <li><a href="/bikes">Bikes linked</a></li>
    </ul>
  </nav>
  <p>Find this list in app/views/home/index.html.erb</p>
</div>
