<% content_for :title, "Map | ValetBike" %>

<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">

        <h1>ValetBike Map Page</h1>
        <!-- Title will be removed later? -->

        <div class="map__container flexbox horizontal stretch" id="map">
            <!-- Made map__container class in case it needs adjustments -->
            <!-- img src="../assets/placeholder-map-pin.png" -->
            <%= javascript_include_tag('map.js') %>     
            </div>

    </div>

    <div class="section-inner flexbox vertical stretch">
        <div class ="location-info__container flexbox vertical stretch">
            <!-- Made location-info__container class in case it needs adjustments (scroll-bar, visibility, etc.) -->
            <h2> Location Info </h2>
            <!-- Rent page should auto-populate with location chosen -->
            <ol type="1" class="location-info__text">
               
                        <!-- Display bikes at current station -->
                        <div class="flexbox vertical stretch">
                            <% if @stations.present? %>
                                <%= render(partial: "stations/row", collection: @stations, as: :station) %>
                            <% else %>
                            <div class="empty">
                                No stations found.
                            </div>
                            <% end %>
                        </div>
                    
                        
                  
            </ol>
            <!-- Made location-info__text class in case it needs adjustments -->
        </div>
    </div>

</div>