<style>
  .parent {
    position: relative;
    top: 0;
    left: 0;
  }

  .map {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
  }

  .pin {
    position: absolute;
    top: 315px;
    left: 560px;
    width: 2%;
    height 10%;
  }

  .pin2 {
    position: absolute;
    top: 345px;
    left: 620px;
    width: 2%;
    height 10%;
  }

</style>

<div class="parent">
  <img src="/images/nipmucNotch.PNG", class="map">
  <img src="/images/map_pin.png", class="pin", usemap="#clickmap">
  <img src="/images/map_pin.png", class="pin2", usemap=#clickmap">
</div>

<map name="clickmap">
  <area shape="rect" coords="0,0,100,100" alt="Station1" href="../stations#index">
</map>
