<div>
  <h2>Begin Renting Bike <%= @bike.id %></h2>
    <%= button_to 'rent', {:controller => "rentals", :action => "create", :rental=>{:bike_id=>@bike.id, :renter_id=>current_user.id}} %>
    <button type="button"><%= link_to "Cancel", stations_path %></button>
</div>