<link rel="stylesheets" href="/style.css">
<br>
<div class="return">
</div>
<br>

<h3>You currently have no bike checked out<h3>
<h4>Please Checkout a bike before returning it <h4>



<a class="toggle" href="<%= root_path %>">&emsp; Return to Homepage</a>
    