<h1 style="font-size:2em; background-color:rgba(147, 174, 144, 0.5);"> ⊱⊰ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Enjoy Your Ride! &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ⊱⊰ </h1>

 <% @current_user = current_user %>
<% @current_bike = Bike.where(id: @rental.bike_id ) %> 
<% @rental %>
<% @rental.bike_id %>
<% puts "____________RENTAL/SHOW_________________"%>
<% puts active_ride?%>
        
<p> You are riding scooter number: <%= @rental.bike_id %> <p>
<p> Start station:  <%= @rental.start_station_id%> <p>
<p> Length of ride: <%= Time.now - @rental.created_at%> second(s) <p>
<p>Please refresh the page to see you're updated ride length! <p>

 <%=link_to('Ready to return? Click here!', edit_rental_path(@rental.id)) %>






<!

 --> 

    








