<h1>About us</h1>
    <p>Valetbike is an accessible and convenient transportation for people who love to bike! 
    We are here to build a community that supports your plans of workouts, commute and entertainment with bikes. Based in Nipmuc Notch and built with our users in mind, we are committed to creating a seamless travel experience for everyone.
  With our flexible plans, explore the Nipmuc Notch and beyond, where you can discover new sights, explore renowned tourist destinations, engage in a lively community, and more.   
  No matter how big or small your plans, whether you're looking for a quick commute or to enjoy the park, Valetbike can take you where you want to go! How will you shape your day? Get started today!</p>  
</p>
    <div class= "bikelogo"><img src ="	http://localhost:3000/assets/ValetBikeLogo.png"></img></div> 
