<div class="container4">
  <main>
  <br>
  <br>
  <br>
  <div style="line-height: 1em;">&nbsp;</div>
    <header class="header">
      <h2>Contact Us</h2>
    </header>
    <br>

    <div class="contact-info">
      <h4>Phone:</h4>
      <p class="phone-number">1-000-000-0000</p>
    </div>
    <div style="line-height: 1em;">&nbsp;</div>

    <div class="business-hours">
      <h4>Business Hours:</h4>
      <div style="line-height: 1em;">&nbsp;</div>
      <p>Monday - Friday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saturday-Sunday</p>
      <div style="line-height: 1em;">&nbsp;</div>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;8AM - 6PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12PM - 6:PM</p>
    </div>
    <div style="line-height: 1.3em;">&nbsp;</div>

    <div class="contact-info">
      <h4>Email:</h4>
      <p class="email-address">support@valetbike.com</p>
    </div>
    <div style="line-height: 1.3em;">&nbsp;</div>

    <div class="contact-info">
      <h4>Location:</h4>
      <address>
        <p class="location-address">58 Valet, Nipmuc Notch, MA 01234</p>
      </address>
    </div>
  </main>
</div>

<style>
  .container4 {
    text-align: center; 
  }

  main {
    margin: 0 auto;
  }

  .header {
    margin-bottom: 1em;
  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }

  .business-hours {
    margin-bottom: 1em;
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .phone-number,
  .email-address,
  .location-address {
    margin-left: 0.3em;
  }
</style>