<div class="container4">
</div>

<header>
  <h2>FAQ</h2><br>
</header>
<div style="line-height: 1em;">&nbsp;</div>


  <p><b>I'm only interested in using this once. Do I still have to purchase a membership?</b></p>
  <div style="line-height: 1em;">&nbsp;</div>
  <p>There are non-subscription options for users who are only looking to bike once.</p><br>
  </br>

  <p><b>How do I cancel my membership?</b></p>
  <div style="line-height: 1em;">&nbsp;</div>
  <p>You may contact customer service to discuss canceling eligible plans. Contact information is availble on the Contact page.</p><br>
  </br>

  <p><b>Can I rent more than one bike at a time?</b></p>
  <div style="line-height: 1em;">&nbsp;</div>
  <p>ValetBike currently only supports one-bike rentals per session.</p><br>
  </br>

  <p><b>Can I use ValetBike in X country?</b></p>
  <div style="line-height: 1em;">&nbsp;</div>
  <p>We currently only operate in Nipmuc Notch and stations are not available outside of this location.</p>
    
<style>
  .container4 {
    height: 3.5em;
  }
</style>
    

