<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content ="with=device-width, initial-scale=1.0">
    <title> ValleyBikeHomePage </title>
</head>
<body>

            <div class ="page-section">
                <font color="#228B22"> Welcome to ValetBike! </font>
            </div>  

        <div class="row">
            <div class="column left">
                <img src="https://images.unsplash.com/photo-1463663044706-e442cdfeeb7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="">
            </div>

            <div class="column right">
            </div>
        </div>
</body>
</html>