<div class ="page-section">
                <font color="#228B22"> Welcome to ValetBike! </font>
                <p>Links for developer use (Will delete later)</p>
                <ul> 
                    <li><%= link_to "User index page", users_index_path %></li>
                    <li><%= link_to "User profile/settings", users_show_path %></li>
                    <li><%= link_to "Rental page", pages_rental_path %></li>
                    <li><%= link_to "Rental Success Page", pages_success_path %></li>

                </ul>
            </div>  

        <div class="row">
            <div class="column left">
                <img src="https://images.unsplash.com/photo-1463663044706-e442cdfeeb7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="">
            </div>

            <div class="column right">
            </div>
        </div>