<div class = "hero-image">
</div>
<div class ="page-section">
<% if user_signed_in? && current_user.is_admin? %>
                <font color="#228B22"> Welcome to ValetBike! </font>
                <p>Links for developer use (Will delete later)</p>
                <ul> 
                    <li><%= link_to "User index page", users_index_path %></li>
                    <li><%= link_to "User profile/settings", users_show_path %></li>
                    <li><%= link_to "Rental page", pages_rental_path %></li>
                    <li><%= link_to "Rental Success Page", pages_success_path %></li>

                </ul>
            </div>  
<% end %>
        <div class="row">
            <div class="column left">
            </div>
            <div class="column right">
            </div>
        </div>