<div class="container4"> 
  <main>
  <br>
  <br>
  <br>
  <div style="line-height: 1em;">&nbsp;</div>
  <header style="text-align: center;">
    <h2>Privacy Policy</h2><br>
  </header>
  <div style="line-height: 1em;">&nbsp;</div>

  <p style="line-height: 1.5;">We at ValetBike value your privacy. Usage of ValetBike's services may entail the collection of personal data for respective purposes, including safety.
  Information we collect may include but is not limited to email, name, and phone number. User data may be used for functionality and personalization.
  In the event of an emergency, such as missing person, collected data may be shared with authorities and any other relevant parties. 
  In such an event, we are not responsible for how that shared data is handled by any third parties.
  Outside of such stipulated event, we firmly do not sell user data nor use it in such a way that would potentially violate any reasonably held expectations of typical user data usage.</p>  
  </main>
</div>

<style>
  .container4 {

  }
  main {
    max-width: 800px;
    margin: 0 auto;
  }
</style>