<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content ="with=device-width, initial-scale=1.0">
    <title> ValleyBikeIndex </title>
    <link rel="stylesheet" href ="scstyle.css">

</head>
<body>

<section>
<div class="text-box">
    <h1>This is the privacy policy</h1>
</div>
 </section>




</body>
</html>