<h1> Confirm rental </h1>
<p> You are renting Bike [number] at Dock [number] </p>

<p> payment info goes here</p>

<button type="button"><%= link_to "Confirm Rental", pages_success_path %></button>
<button type="button"><%= link_to "Cancel", stations_path %></button>