<div class="container4"> 
  <main>
  <br>
  <br>
  <br>
  <div style="line-height: 1em;">&nbsp;</div>
  <header style="text-align: center;">
    <h2>User Agreement and Terms of Use</h2><br>
  </header>
  <div style="line-height: 1em;">&nbsp;</div>

  <p style="line-height: 1.5;">In usage of this website and the product service, agree to use it appropriately in such a way that reasonably aligns with intended use.
  Any prohibited activities including prohibited by law violates the Terms of Use. 
  You agree to provide accurate information, including payment related information.
  Content under ValetBike that is proprietary may not be replicated, distributed, modified, or used commercially without prior written explicit agreement.
  Any user-generated content is non-affliated to Valetbike, and must meet the standards of Valetbike and the platform's including any social medias.
  Valetbike is not liable for any user-created content and any consequences as the result of inappropriate or misue of any product, service, or website offered or affiliated with Valetbike. 
  You acknowledge that any violation of this agreement may result in monetary compensation to relevant parties.</p>
  </main>
</div>

<style>
  .container4 {

  }
  main {
    max-width: 800px;
    margin: 0 auto;
  }
</style>