<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <% if not bike.current_station_id %>
    <s><%= bike.id %></s>
  <% else %>
    <%= bike.id %> @ <%= bike.current_station_id %> 
  <% end %>

</div>