<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Bikes List
    </div>  
    <div class="flexbox vertical stretch">
      <% if @bikes.present? %>
        <%= render(partial: "bikes/row", collection: @bikes, as: :bikes) %>
      <% else %>
      <div class="empty">
        No bikes found.
      </div>
      <% end %>
      <%= button_to 'View Stations', root_path, method: 'get' %>

    </div>
	</div>
</div>