<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      List of bikes
    </div>
    <div class="flexbox vertical stretch">
      <% if @bikes.present? %>
        <table>
          <tr>
            <th> <%= link_to "Identifier", :sort => "identifier"%> </th>                  
          </tr>
          <% @bikes.each do |bike| %>
        <tr>
          <td><%= bike.identifier%></td>  
        </tr>
        <% end %>
      </table>
      <% else %>
      <div class="empty">
        No bikes found.
      </div>
      <% end %>
      <%= button_to 'View Stations', root_path, method: 'get' %>
    </div>
	</div>
</div>
