<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Hello! Welcome to ValetBike!
    </div> 

    <a href="http://localhost:3000/stations/d">
      <button type="button">Stations Descending Order</button>
    </a>

    <a href="http://localhost:3000">
      <button type="button">Stations Ascending Order</button>
    </a>

    <a href="http://localhost:3000/bikes">
      <button type="button">Bikes Ascending Order</button>   
    </a>

    <a href="http://localhost:3000/bikes/d">
      <button type="button">Bikes Descending Order</button>   
    </a>
    
    <div class="flexbox vertical stretch">
      <% if @bikes.present? %>
        Bikes Ascending Order:
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No bikes found.
      </div>
      <% end %>
    </div>
	</div>
</div>
