<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Check the bike here!!
    </div>
    <div class="section-subtitle">
       Wanna find your faviourite bike?
    </div>
     <a href= "/">
      Back to Main Page
    </a>
    <div class="flexbox vertical stretch"><br>
      <% if @bikes.present? %>
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No bikes found.
      </div>
      <% end %>
    </div>
	</div>
</div>

