<br>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
    <%= image_tag ("image_4.jpg"), :class => "img-fluid rounded-start"%>
    </div>
    <div class="col-md-8">
      <div class="card-body mx-3 my-3">
<h2>Congrats! You have returned the bike!</h2>
<br>
<%= link_to("Rent a new bike", {:controller => 'stations', :action => 'index'}) %>
<br>
                </div>
            </div>
        </div>