<center><h1>Riding Time</h1>
<div id="timer" style="font-size:10rem;"></div>



<button onclick="clearInterval(timerVar)">Stop Ride</button><br>
<br style=“line-height:100px;”>
 <%= button_to 'Home Page', "/root", method: :get %></center>
