<style>

.container {
  width: 50%;
  margin: 0 auto;
}

</style>

<form action="/action_page.php">
    <div class="container">
        <h1>Log In</h1>
        <hr>

        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw">Password</label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <div class="clearfix submit_button">
            <button type="submit" class="loginbtn">Log in</button>
            <br><br>
            <%=link_to"Not a user?", new_user_path %>
            </div>
        </div>         
    </div>
</form>