<style>

.container {
  width: 50%;
  margin: 0 auto;
}

</style>

<form action="/login" method="post">
    <% if flash[:error] %>
        <div class="alert"><%= flash[:error] %></div>
    <% elsif flash[:danger] %>
        <div class="alert"><%= flash[:danger] %></div>
    <% end %>
    <div class="container">
        <h1>Log In</h1>
        <hr>
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input name="authenticity_token" type="hidden"
         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />
        <label for="email">Email/Username</label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw">Password</label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <div class="clearfix submit_button">
            <button type="submit" class="loginbtn">Log in</button>
            <br><br>
            <%=link_to"Not a user?", new_user_path %>
            </div>
        </div>
    </div>
</form>
