<!DOCTYPE html>
<html>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
      padding: 15px;
        margin: 5px 0 22px 0;
          display: inline-block;
            border: none;
              background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
      outline: none;
}

hr {
    border: 1px solid #f1f1f1;
      margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
      color: white;
        padding: 14px 20px;
          margin: 8px 0;
            border: none;
              cursor: pointer;
                width: 100%;
                  opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Float signup buttons and add an equal width */
.signupbtn {
    float: left;
      width: 50%;
}

.signupgoogle {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    display: flex;
}

/* Clear floats */
.clearfix::after {
    content: "";
      clear: both;
        display: table;
}



#wrapper1 {
  float: left;
  width: 80%;
}

#wrapper2 {
  float: right;
}

#inbetween {
  width: 15%;
}

</style>
<body>

  <form action="/action_page.php" style="border:1px solid #ccc">
    <section class="container">
      <div id="inbetween">
      </div>
      <div id="wrapper1">
            <h1>Sign Up</h1>
                    <hr>

                        <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" required>

                                <label for="psw"><b>Password</b></label>
                                    <input type="password" placeholder="Enter Password" name="psw" required>

                                        <label for="psw-repeat"><b>Repeat Password</b></label>
                                            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                                                 <div class="clearfix">
                                                     <button type="submit" class="signupgoogle">Sign Up With Google</button>

                                                 </div>
      </div>
      <div id="inbetween">
      </div>
      <div id=wrapper2">
        <h1> Payment Information</h1>
                    <hr>

                    <label for="cardnumber"<b>Card Number</b></label>
                        <input type="text" placeholder="Enter Card Number" name="cardnumber" required>
                  
                            <label for="securitycode"<b>Security Code</b></label>
                                <input type="text" placeholder="Enter Security Code" name="securitycode" required> 
                                    
                                    <label for="expirationdate"<b>Expiriation Date</b></label>
                                        <input type="text" placeholder="Enter Expiration Date" name="expirationdate" required>

                                            <div class="clearfix">
                                                <button type="submit" class="signupbtn">Finish Sign Up</button>
                                            </div>
      </div>
      <div id="inbetween">
      </div>

    </section>
  </form>

</body>
</html>

