<!DOCTYPE html>
<html>
  <head>
    <style>
      .section1 {
        display: inline-block;
        float: center;
      }
    </style>
  </head>

  <body>
    <div>
      <h2> Order Summary </h2>
      <br>
      <hr>
      <br>
      <div class="first_row">

        <div class = "section1">
          <%= image_tag "bike.png", alt: "Bike icon", style: "position: absolute; margin: auto;" %>
        </div>
        
        <div class = "section1">
          <p position: absolute; class="text"> Valet Bike 2hr ride  </p>
        </div>

        <div class = "section1">
          <h3 class="text"> $6 </h3>
        </div>
        
      </div>

      <hr>
      <br>
      <br>
      <div class="second_row">
        <div class = "section1">
            <h3 class="text">Total </h3>
            <p class="text">Including 2% in taxes </p>
        </div>

        <div class = "section1">
          <h4 class="text"> $6.12 </h4>
        </div>
      </div> 
    </div>

  </body>
</html>
