/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require leaflet
 */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* general styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 3rem;
  margin: 2rem 0 0 0;
}
h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  /*margin-bottom: 30px;*/
  margin: 0 0 2rem 0;
}
p {
  margin: 0;
}

/* sidebar styles */
.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1000;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

/* button styles */
.button_to {
  display: inline-block;
}

button{
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #8b0000;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 0.5rem;
}

form input[type=submit] {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #8b0000;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 0.5rem;
}

form input[type=submit]:hover {
  background-color: #b64040;
  cursor: pointer;
}
