/************************************/
/*       Universal Page Style       */
/************************************/

.page-section {
  max-width: 80em;
  width: 100%;
  margin-top: 4em;
}

.page-section .section-inner {
  margin-right: 1.4em;
  margin-left: 1.4em;
}

.page-section .section-title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.record-row {
  padding: 0.5em 1.25em 0.5em 1.25em;
  text-align: center;
  line-height: 1.75em;
}

.record-row.even {
  background: var(--medium-white-color);
}

.record-row.odd {
  background: var(--dark-white-color);
}

.button-section {
  background-color: var(--accent-color);
  color: var(--white-color);
  border: 1px;
  margin-bottom: 1em;
  padding: 0.5em 1.25em 0.5em 1.25em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:48em) {
  .page-section {
    margin-top: 3em;
  }

  .page-section .section-title {
    font-size: 1.9em;
    margin-bottom: .6em;
  }

}
