/************************************/
/*       Universal Page Style       */
/************************************/

.page-section {
  width: 100%;
}

.page-section .section-inner {
  margin-right: 1.4em;
  margin-left: 1.4em;
  margin-top: 1em;
}

.page-section .section-title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1em;
  margin-top: 1.5em;
  margin-left: .5em;
}

.record-row {
  padding: 0.5em 1.25em 0.5em 1.25em;
  font-size: 0.85em;
  line-height: 1.75em;
}

.record-row.even {
  background: var(--medium-white-color);
}

.record-row.odd {
  background: var(--dark-white-color);
}

.station-title{
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 1em;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:48em) {
  .page-section {
    margin-top: 3em;
  }

  .page-section .section-title {
    font-size: 1.9em;
    margin-bottom: .6em;
  }

}
