/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.pageHeader {
  height: 250px;
  background-image: url('background.png'); 
}

.notice{
  font-size: 20px;
  padding: 10px;
  color: black;
}

