header {
    height: 1em;
    padding:3em;
    margin-bottom: 1em;
    background: #b4a9da;
    font-size: 20px;
    
}

header span{
    float:right;
    padding: 40px;
}

header span .button_to{
    display: inline;
    padding: 40px;

}

div#content {
    /* min-height: 400px; */
    margin-left:30%;
    margin-left:10%;
    float:center;

}

footer {
    /* height:1em; */
    padding: 1em;
    margin-top: 1em;
    background: #ddadda
}


footer span{
    float:right;
}