*{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

.banner{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(bike.jpg);
    background-size: cover;
    background-position: center;
    text-align:center; 
    margin:0 auto;
    
}


.banner0{
    width: 100%; 
    height: 20vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(bannertop.png);
    background-size: cover;
    background-size: cover;
    background-position: center;
    text-align:left; 
    margin:0 auto;
}

.banner1{
    width: 100%;
    height: 13vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(blue.png);
    background-size: cover;
    background-position: center;
    text-align:center; 
    margin:0 auto;
}

.banner2{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(team.png);
    background-size: cover;
    background-position: center;
}

.banner3{
    width: 100%; 
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(phone.png);
    background-size: cover;
    background-position: center;
    text-align:left; 
    margin:0 auto;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar-nav{
    content: '';
    height: 3px;
    width: 100%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.return{
    width: 80%;
    height: 55vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(phone.png);
    background-size: cover;
    background-position: center;
    text-align:center; 
    margin:0 auto;
    display: block;
    
}
.my-btn {
    background-color: #009688; /* Green */
    border-radius: 50px;
    width: 100px;
    height: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin:0 auto;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity:0.7;
  }
  
  .buttonLog {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
   
  }

  .bike-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #274690;; 
    border-radius: 5px;
    margin-bottom: 20px;
    border-radius: 50px;
    width: 170px;
    height: 100px;
    
  }
  
  .bike-id {
   
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: #fff;

  }
  
  .unlock-button {
    padding: 2px 10px;
    background-color: #fff;
    color: #274690;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;

  }
  
  .unlock-button:hover {
    background-color: #0089d9;
    opacity: 0.7;
  }
  
  .button-30 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
    top: 40px;
    left: 10px;
  }