// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron {
    background-image: url("/images/bike1.jpg");
    background-size: cover;
    background-color: #334EFF;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}