
<h2> Sorry you cannot submit an empty Report</h2>

<a class="toggle" href="<%= new_report_path %>">&emsp; Try again</a>
<a class="toggle" href="<%= root_path %>">&emsp; No report? Return to Homepage</a>