<h1> Thank you for your feedback! <h1>
<h3> Your report has successfully been submitted. One of our agent will get back to you as soon as possible <h2>
<br>
<a class="toggle" href="<%= root_path %>">&emsp; Return to Homepage</a>
