<style>
  .parent {
    position: relative;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align:center;

  }

  .stationscol {
    float: left;
    width: 25%;
    margin-left: 1%;
  }

  #mapBackground {
    position: relative; 
    width: 100%; /* Fill map div */
    height: 100%;
  }

  #map {
    position: relative; /* Enables pins to be absolute to map div */
    float: right;
    width: 70%;
    margin-right: 1%;
  }

  p.pin{
      cursor:pointer;
  }

  span { /* Station label styling */
    background:#CADFEF;
    border: 2px solid #000000;
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    position:absolute; /* Relative to map container div */
    text-align: center;
    display: none; /* Hidden by default */
    padding: 5px;
  }

  img {
    position:absolute; /* Relative to map container div */
    width:2%;
  }
  
</style>


<div class="parent">
  <div class="stationscol">
    <h1>Stations</h1>
    <div class="stationslist">
      <% if @stations.present? %>
        <%= render(partial: "simplifiedStationRow", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
  </div>

  <div><h1>Map</h1></div>

  <div id="map">
    <img src="/images/nipmucNotch.PNG", id="mapBackground">
    <% if @stations.present? %>
      <%= render(partial: "stationPin", collection: @stations, as: :station) %> <%# Image and info%>
      <%= render(partial: "stationArea", collection: @stations, as: :station) %> <%# Interactivity%>
    <% end %>
  </div>
</div>

<script>
  function showStationInfo(n) { // Called on mouse over
    var spanId = "label" + n; // Generates id of station info span
    var stationInfo = document.getElementById(spanId);
    stationInfo.style.display = "block"; // Show station info popup
    stationInfo.style.zIndex = "9";

  }
  function hideStationInfo(n) { // Called on mouse leave
    var spanId = "label" + n; // Generates id of station info span
    var stationInfo = document.getElementById(spanId);
    stationInfo.style.display = "none"; // Hide station info popup
  }

</script>


