<style>
  .parent {
    position: relative;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align:right;
  }

  .map {
    position: relative;
    width: 75%;
    height: 75%;
    margin-right:15px;
  }

  p.pin{
      cursor:pointer;
  }

  span { /* Station label styling */
    background:#CADFEF;
    border: 2px solid #000000;
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    position:absolute;
    text-align: center;
    display: none;
    padding: 5px;
  }

  /* Positioning of individual station labels */
  span#map1 {
    top:52%;
    left:49%;
  }

  span#map2 {    
    top:43%;
    left:38%;
  }  

  .stationscol {
    margin-right: 78%;
    text-align: center;
    margin-left: 1%;
  }

  .stationslist {
    float: left;
  }
</style>


<div class="parent">
  <div class="stationscol">
    <h1>Stations</h1>
    <div class="stationslist">
      <% if @stations.present? %>
        <%= render(partial: "stations/simplifiedRow", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>

  </div>

  <img src="/images/nipmucNotch.PNG", class="map">

  <p class="pin">
    <img  src="/images/map_pin.png" style="position:absolute;top: 45%;left: 52.5%;width:2%;height 10%", usemap="#clickmap1">
    <span id="map1">Cooley Dickenson Health Care</span>
  </p>
  <p class="pin">
    <img src="/images/map_pin.png", style="position: absolute;top: 36%;left: 42%;width: 2%;height 10%;" , usemap="#clickmap2">
    <span id="map2">Florence Bank Station</span>
  </p>
</div>

<map name="clickmap1">
 <area shape="rect" coords="0,0,100,100" alt="Cooley Dickinson" href="../map/2" onmouseover="showStationInfo(1)" onmouseleave="hideStationInfo(1)">
</map>

<map name="clickmap2">
  <area shape="rect" coords="0,0,100,100" alt="Florence Bank" href="../map/1" onmouseover="showStationInfo(2)" onmouseleave="hideStationInfo(2)">
</map>

<script>
  function showStationInfo(n) { // Called on mouse over
    var spanId = "map" + n; // Generates id of station info span
    var stationInfo = document.getElementById(spanId);
    stationInfo.style.display = "block"; // Show station info popup
    stationInfo.style.zIndex = "9";

  }
  function hideStationInfo(n) { // Called on mouse leave
    var spanId = "map" + n; // Generates id of station info span
    var stationInfo = document.getElementById(spanId);
    stationInfo.style.display = "none"; // Hide station info popup
  }

</script>


