<style>
  .parent { /* Essentially entire page */
    position: relative;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align:center;
  }

  .stationscol {
    float: left;
    width: 25%;
    margin: 0% 1%; /* Adds horizontal space */
  }

  #mapParent { /* Used to enable zoomable map */
    overflow: hidden;
    width: 72%;
    max-height: 450px;
  }

  #map {
    position: relative; /* Enables pins to be absolute to map div */
  }

  #mapBackground { /* Map image */
    position: relative; 
    width: 100%; /* Fill map div */
  }

  p.pin{
      cursor:pointer;
  }

  span { /* Station label styling */
    background:#CADFEF;
    border: 2px solid #000000;
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    position:absolute; /* Relative to map container div */
    text-align: center;
    display: none; /* Hidden by default */
    padding: 5px;
  }

  img {
    position:absolute; /* Relative to map container div */
  }

  .buttons { /* Postions zoom buttons*/
    position: fixed; /* Top of visible portion of map*/
    top: 100px;
    right: 15px;
  }

  .buttons button { /*Styles zoom buttons */
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
</style>

<div class="parent">
  <div class="stationscol">
    <h1>Stations</h1>
    <div class="stationslist">
      <% if @stations.present? %>
        <%= render(partial: "simplifiedStationRow", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
  </div>

  <div><h1>Map</h1></div>

  <div id="mapParent">
    <div id="map">
      <img src="/images/nipmucNotch.PNG", id="mapBackground">
      <% if @stations.present? %>
        <%= render(partial: "stationPin", collection: @stations, as: :station) %> <%# Image and info%>
        <%= render(partial: "stationArea", collection: @stations, as: :station) %> <%# Interactivity%>
      <% end %>
      <div class="buttons">
        <button onclick="zoomOut()">-</button>
        <button onclick="zoomIn()">+</button>
      </div>
    </div>
    </div>
  </div>

<script>

  var currentZoom = 100;

  function showStationInfo(n) { // Called on mouse over
    var spanId = "label" + n; // Generates id of station info span
    var stationInfo = document.getElementById(spanId);
    stationInfo.style.display = "block"; // Show station info popup
    stationInfo.style.zIndex = "9";

  }

  function hideStationInfo(n) { // Called on mouse leave
    var spanId = "label" + n; // Generates id of station info span
    var stationInfo = document.getElementById(spanId);
    stationInfo.style.display = "none"; // Hide station info popup
  }

  function zoomIn() {
    var map = document.getElementById("map");
    currentZoom += 3; // Increase magnification
    map.style.width = String(currentZoom) + "%"; // Set modified width
  }

  function zoomOut() {
    var map = document.getElementById("map");
    if (currentZoom > 100) { //Don't zoom out beyond 100%
      currentZoom -= 3; // Decrease magnification
    }
    map.style.width = String(currentZoom) + "%"; // Set modified width
  } 

</script>


