
<div>
    <h1> Map View </h1>
</div>

<!--my map-->
<div id="map" style="height:600px; width:600px;"></div>
        
<script>
    <!--initialize map, set coordinates to noho and zoom to 13-->
    var map = L.map('map').setView([42.3251, -72.6412], 10);

    <!--add a tile layer-->
    
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);
    


    <!--add markers to map-->
    var marker = L.marker([42.3251, -73]).addTo(map);
    var circle = L.circle([0, 0], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 500
    }).addTo(map);

    <!--label markers-->
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    circle.bindPopup("I am a circle.");
    
</script>
<!--turbo = false no reloads, linkto-->