<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <title>Bikesia Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js'></script>
    <link
      rel='stylesheet'
      href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css'
      type='text/css'
    />
  </head>
 
  
  <body>
 
     <div id='title'><h3>bikesia</h3></div>
    <div id='route-bar'>
      <input type='text' id='from' placeholder='From' />
      <div id='from-to-arrow'>&#10142;</div>
      <input type='text' id='to' placeholder='To' />
    </div>
    
    <div id='map'></div>

            <!-- mapbox functionality -->
            <script>

            mapboxgl.accessToken = 'pk.eyJ1IjoiY2hhcmRlcjAxIiwiYSI6ImNsZnJsb2Q4MjA3azA0NG1pcGF2aWYzZ2UifQ.WAN-lZjly71QAhJx5kUu4Q';

            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-72.634802, 42.317751],
            zoom: 13
            });


            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6443, 42.3289])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>YMCA/Childs Park</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6281, 42.3205])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Main Bridge Street Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6264, 42.3188])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Northampton Train Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6714, 42.3356])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Main Street Court House Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6336, 42.3173])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Pulaski Park Downtown Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6357, 42.3168])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Forbes Library Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.635, 42.3181])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>John M. Greene Hall</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6468, 42.3111])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Village Hill State Hospital Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6525, 42.3239])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Northampton High School Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6677, 42.3359])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>State St. Mass Central Rail Trail Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.654, 42.3321])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Cooley Dickinson Health Care Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6453, 42.3309])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Jackson Street Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.668, 42.335])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Florence Center Station</h6>"))
                .addTo(map);

            var marker = new mapboxgl.Marker()
                .setLngLat([-72.6741, 42.3356])
                .setPopup(new mapboxgl.Popup().setHTML("<h6>Florence Bank Station</h6>"))
                .addTo(map);

            var directions = new MapboxDirections({
            accessToken: mapboxgl.accessToken,
            profile: 'mapbox/driving',
            controls: {
                inputs: false,
                instructions: true
            }
            });

            map.addControl(directions, 'top-left');

            var fromInput = document.getElementById('from');
            var toInput = document.getElementById('to');

            fromInput.addEventListener('change', function () {
            var from = this.value;
            directions.setOrigin(from);
            });

            toInput.addEventListener('change', function () {
            var to = this.value;
            directions.setDestination(to);
            });

            </script>
    
    </body>
    <link rel="stylesheets" href="/style.css">
<button class="my-btn" onclick="location.href='<%= root_path %>'">Homepage</button>

 </html>
