<div class="container">
    <footer class="row d-flex flex-wrap justify-content-evenly text-center py-3 my-4 border-top">
					<div class="col-sm-6 col-lg-3">
					<%= link_to '&copy; 2021 EEEee' .html_safe, root_path,
					class: "nav-link px-2 text-muted" %>
						
					</div>
					<div class="col-sm-6 col-lg-3">
						<%= link_to 'Display Stations and Bikes', stations_index_path,
					class: "nav-link px-2 text-muted" %>
						</div>
					<div class="col-sm-6 col-lg-3">
						<%= link_to "How It Works" , home_instruction_path, class: "nav-link px-2 text-muted" %>
						</div>
					<div class="col-sm-6 col-lg-3">
						<%= link_to "Customer Services" , cusserve_contacs_path, class: "nav-link px-2 text-muted" %>
						</div>
			</footer>
</div>