<!doctype html>
<html lang="en">
  <footer>
    <div class = "footer_parts">
      <%= image_tag("logo.png") %>
      <p> For all your bike needs </p>
      <div class = "btn_group">
        <button> How It Works </button>
        <button> Locations </button>
        <button> FAQs </button>
        <button> Support </button>
        <button> Login/Signup </button>
      </div>
    </div>
  </footer>
</html>



