<div class="grid-containerthree">
    <div class="item6" style="border: 2px solid #444"><%= link_to "Terms of Use", pages_terms_path %></div>
    <div class="item8" style="border: 2px solid #444"><%= link_to "Privacy Policy", pages_privacypol_path %></div>
    <div class="item9" style="border: 2px solid #444"><%= link_to "FAQ", pages_faq_path %></div>                       
</div>