<footer>
    <foot> 
            <ul>
            <li> <%= link_to "Terms of use", pages_terms_path %></li>
            <li> <%= link_to "User agreement", pages_userag_path %></li>
            <li> <%= link_to "Privacy Policy", pages_privacypol_path %></li>
            <li> <%= link_to "FAQ", pages_faq_path %></li>
            </ul>
    </foot>
</footer>