<!doctype html>
<html lang="en">
  <footer>
    <div class = "footer_parts">
    <div class = "logo_style">
      <%= image_tag("footer-logo.png") %>
      </div>
      <div class = "btn_group">
        <button> <a href="how-it-works"> How It Works </a> </button>
        <button> <a href="locations"> Locations </a> </button>
        <button><a href="faq"> FAQs </a></button>

        <button><a href="service"> Support </a></button>
        <button> Login/Signup </button>
      </div>
    </div>
  </footer>
</html>



