<!doctype html>
<html lang="en">
  <footer>
    <div class = "footer_parts">
      <div><%= image_tag("logo.png", size: "160x45") %>
      <div class = "btn_group">
        <button> <a href="how-it-works"> How It Works </a> </button>
        <button> <a href="locations"> Locations </a> </button>
        <button><a href="faq"> FAQs </a></button>
        <button> Support </button>
        <button> Login/Signup </button>
      </div>
    </div>
  </footer>
</html>



