<!doctype html>
<html lang="en">
<header>
    <div class = "footer_parts">
      <%= image_tag("logo.png") %>
      <div class = "btn_group">
        <button> <%= link_to "how-it-works", how_it_works_path%> </button>
        <button> <%= link_to "locations", locations_path%> </button>
        <button><a href="faq"> FAQs </a></button>
        <button> Support </button>
        <button> Login </button>
        <button style="background-color: #8C1627;color:white"> Signup </button>
      </div>
    </div>
  </header>
</html>

