<!doctype html>
<html lang="en">
<header>
    <div class = "footer_parts">
      <%= image_tag("logo.png") %>
      <div class = "btn_group">
        <button> <a href="how-it-works"> How It Works </a> </button>
        <button> <a href="locations"> Locations </a> </button>
        <button><a href="faq"> FAQs </a></button>
        <button> Support </button>
        <button> Login/Signup </button>
      </div>
    </div>
  </header>
</html>

