<div class="grid-container">
    <div class="item1"><%= link_to "About Us!", pages_about_path %></div>
    <div class="item2">Sign Up</div>
    <div class="item3">Log In</div>
    <div class="item4">Membership</div>
    <div class="item5"><%= link_to "Contact", pages_contact_path %></div>
  </div>