<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content ="with=device-width, initial-scale=1.0">
    <title> ValleyBikeIndex </title>
    <link rel="stylesheet" href ="scstyle.css">
</head>
<body>
 <section class="header">
    <nav> 
        <a href="index.html"></a>
        <div class="nav-links">
            <ul>
                <li><a href="index.html.erb">Home</a></li>
                <li><a href="About.html.erb">About us</a></li>
                <li><a href="">Sign up</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Membership</a></li>
                <li><a href="contact.html.erb">Contact</a></li>
            </ul>
        </div>
    </nav>

</section>
<section>
<div class="text-box">
    <h1>This is our mission.</h1>
</div>
 </section>
<!-----footer----->

<section class="footer">
    <foot> 
        <a href="index.html"></a>
        <div class="foot-links">
            <ul>
                <li><a href="terms.html.erb">Terms of Use</a></li>
                <li><a href="userag.html.erb">User agreement</a></li>
                <li><a href="privacypol.html.erb">Privacy policy</a></li>
                <li><a href="faq.html.erb">FAQ</a></li>
            </ul>
        </div>
    </foot>
</section>



</body>
</html>