<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content ="with=device-width, initial-scale=1.0">
    <title> ValleyBikeIndex </title>
    <link rel="stylesheet" href ="scstyle.css">
    <script type=module src="main.js"> </script>
</head>
<body>
<my-header> </my-header>
<section>
<div class="text-box">
    <h1>Welcome to Valleybike</h1>
</div>
 </section>
<!-----footer----->

<section class="footer">
    <foot> 
        <a href="index.html"></a>
        <div class="foot-links">
            <ul>
                <li><a href="terms.html.erb">Terms of Use</a></li>
                <li><a href="userag.html.erb">User agreement</a></li>
                <li><a href="privacypol.html.erb">Privacy policy</a></li>
                <li><a href="faq.html.erb">FAQ</a></li>
            </ul>
        </div>
    </foot>
</section>



</body>
</html>