<div>
  <h1 class="font-bold text-4xl">Available Memberships</h1>
   <div class="flexbox vertical stretch">
      <% if @memberships.present? %>
        <%= render(partial: "shared/membership_new_row", collection: @memberships, as: :membership) %>
      <% else %>
      <div class="empty">
        No memberships available.
      </div>
      <% end %>
    </div>
</div>
