## not sure if this can be in here

<p id="notice"><%= notice %></p>
 
<p>
  <strong>Name:</strong>
  <%= @membership.name %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= number_to_currency(@membership.cost) %>
</p>
 
<%= link_to 'Join!', new_charge_path %>